/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,600;1,100;1,400&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem ;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif; 
}
:root{
  --text-color:#000000;
  --main-color:#83b735;
}
section{
  padding: 50px 10%;
}
header{
  position: fixed;
  width:100%;
  top: 0;
  right: 0;
  z-index: 1000%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 100px;
  background: #edecea;
}
.logo{
  font-size:1.2rem;
  font-weight: 600;
  color:var(--text-color);
}
.logo span{
  color: var(--main-color);
}
.navbar{
  position: relative;
  display: flex;
}
.navbar a{
  font-size:1rem;
  padding: 10px 20px;
  font-weight: 500;
  color: var(--text-color);
}
.navbar a:hover{
  color:var(--main-color);
}
#menu-icon{
  font-size: 2rem;
  cursor: pointer;
  display:none;
}
.home{
  width: 100%;
  min-height: 100vh;
  background-image:url("b.webp");
  background-repeat:no-repeat;
  background-size:cover;
  background-position: right;
  display: flex;
  align-items:center;
  text-align-last: left;
  direction: ltr;
}
.home-text h1{
  font-size:2.7rem;
}
.home-text p{
  font-size:0.938rem;
  margin:0.4rem 0 1.8rem;

}
.home-text span{
  color:var(--main-color);
}
.btn{
  padding: 10px 14px;
  background: var(--main-color);
  color:#ffffff;
  border-radius:0.3rem;
  font-size:14px;
}
.btn:hover{
  background: #8fc53d;
}

.title-price{
  display:flex;
  justify-content: space-between;
  padding:12px;
}
.title-price h3{
  font-size:1rem;
  font-weight:600;
}
.shop-container,
.new-container{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,auto));
  gap:1rem;
  margin-top:2rem;
}

.box{
  position:relative;
  box-shadow:1px 4px 4px rgb(0,0,0,0.1);
  border-radius:44px 4px 4px 4px;
}

.box .box-img{
  width:100%;
  height:400px;
  overflow:hidden;
  border-radius:44px 4px 4px 4px;
}
.box span{
  font-size:1.1rem;
  font-weight:500;
  padding-left:12px;
  color:var(--main-color);
}
.stars .bx{
color:var(--main-color);
}
.box .bx-cart{
position: absolute;
bottom:0;
right:0;
padding:7px;
font-size:20px;
color:#ffffff;
border-radius:4px 0 4px 0;
background: var(--main-color);
}
.box .bx-cart:hover{
  background:#8fc53d;
}
.heading{
  text-align: center;
}
.new-container .box{
  border-radius:4px;
}
.new-container .box .box-img{
  border-radius:4px;
}
.about{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  gap:2rem;
}
.about-text span{
  color:var(--main-color);
  font-size:1.5rem;
  font-weight:500;
  text-transform: uppercase;
  
}
.about-img img{
  width:80%;
  border-radius:10px;
  object-fit:contain;
}
.about-text p{
  font-size:1rem;
  font-weight:500;
  margin:0.5rem 0 1.2rem;
}
.newsletter{
  display:flex;
  flex-direction: column;
  align-items:center;
  background-image:url("bggg.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}
.newsletter h2{
  color:#ffffff;
}
.news-box{
  display:flex;
  align-items:center;
  margin-top:1rem;
}
.news-box input{
  width:260px;
  height:30px;
  padding:10px;
}
.newsletter .btn{
 height:44px;
 padding:11px;
 text-transform:uppercase;
 font-weight:500;
}
footer{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(240px,auto));
  gap:1rem;
  margin-bottom:10px;
  justify-content:space-between;
  flex-wrap:wrap;
  
}
footer .col{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  margin-bottom:20px;
 
}
footer h4{
    font-size: 14px;
    padding-bottom:20px;
}
.copyright{
  padding:20px;
  text-align:center;
}
/*making responsive*/

@media(max-width:1100px){
  header{
    padding:18px 4%;
  }
  section{
    padding: 50px 4%;
  }
}
@media(max-width:960px){
  .home-text h1{
    font-size:2rem;
  }
  .shop-container,.new-container{
    grid-template-columns:repeat(auto-fit,minmax(218px,auto));
  }
}
@media(max-width:640px){
  header{
    padding:11px 4%;
  }

#menu-icon{
      display:initial;

}
header .navbar{
  position:absolute;
  top:-500px;
  left:0;
  right:0;
  display:flex;
  flex-direction:column;
  background:#ffffff;
  box-shadow:0 4px 4px rgb(0 0 0 /10%);
  transition:0.2s ease;
  text-align:center;
}
.navbar a{
  padding:1.5rem;
  display:block;
}
.navbar .active{
  top:100%;
}
.navbar a:hover{
  background:var(--main-color);
  color:#ffffff;
}
.about{
  grid-template-columns:lfr;
  text-align: center;
}
.about-img{
  padding-top:1rem;
  order:2;
}
}
@media(max-width:620px){
  .home-text h1{
    font-size:1.7rem;
  }
  .shop-container,.new-container{
    grid-template-columns:repeat(auto-fit,minmax(200px,auto));
  }
  .box .box-img{
    height:300px;
  }
  .news-box input{
    width:180px;
  }
  .about-text h2{
    font-size:1.2rem;
  }
}